<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

<div *ngIf="product.title" class="card" class="border border-success">
  <img *ngIf="product.imageUrl" class="card-img" [src]="product.imageUrl" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.price | currency:'CLP':'symbol-narrow' }}</p>
    <!-- <a href="#" class="btn btn-primary">Comprar ahora</a> , antiguo boton que decia comprar ahora-->
  </div>



  <div *ngIf="shoppingCart" class="card-body" >
          <button
          *ngIf="shoppingCart.getQuantity(product) >= 0; else updateQuantity"
              (click)="addToCart()"
              class="btn btn-success btn-lg btn-block" ><i class="fas fa-shopping-cart"></i> Agregar a carrito</button>
             
      </div>






      <br>

</div>
<br>