.btn-success {
    background-color: #30BE76!important;
    border-color: #30BE76!important;
    font-family: 'Nunito', sans-serif;
}

.btn-primary {
    background-color: #30BE76!important;
    border-color: #30BE76!important;
    font-family: 'Nunito', sans-serif;

}
h1{

    font-family: 'Nunito', sans-serif;
}
h2{

    font-family: 'Nunito', sans-serif;
}
h3{

    font-family: 'Nunito', sans-serif;
}

p{

    font-family: 'Nunito', sans-serif;
}
td{

    font-family: 'Nunito', sans-serif;
}
th{

    font-family: 'Nunito', sans-serif;
}

list-order-view{
    font-family: 'Nunito', sans-serif;
}

a {
    color: #30BE76!important;
    text-decoration: none;
    background-color: transparent;
}
li{

    font-family: 'Nunito', sans-serif;
}