<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
<br>
<div class="container">
<h3>Listado de productos</h3>
<br>

<p>
    <input
        #query
        (keyup)="filter(query.value)"
        type="text" class="form-control" placeholder="Buscar por producto o marca">
</p>

<data-table
    [items]="items"
    [itemCount]="itemCount"
    (reload)="reloadItems($event)"
    [pagination]="false"
>
    <data-table-column
        [property]="'title'"
        [header]="'Título'"
        [sortable]="true"
        [resizable]="true"

    ></data-table-column>

    <data-table-column
        [property]="'price'"
        [header]="'Precio'"
        [sortable]="true"
        [resizable]="true"

    >
        <ng-template #dataTableCell let-item="item">
            {{ item.price | currency:'CLP':'symbol-narrow'}}
        </ng-template>
    </data-table-column>

    <data-table-column 
        [property]="'$key'"
    >
        <ng-template #dataTableCell let-item="item" >
            <a [routerLink]="['/admin/products/', item.$key]" ><i class="far fa-edit" style="color: #30BE76;"> </i> Modificar</a>
        </ng-template>

    </data-table-column>

</data-table>
<br>
<p routerLink="/admin/products/new" class="btn btn-primary"><i class="fas fa-plus"></i> Nuevo producto</p>

</div>
<br>
<br>
<br>
<br>
<button type="button"routerLink='/' class="btn btn-success"><i class="fas fa-arrow-left"></i> Volver al inicio</button>
<br>
<br>
<br>