
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    
    <div class="fadeIn first">
      <img src="assets/pikmev.png"  id="icon" alt="User Icon" style="padding: 10px; " />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
      <input type="submit" class="fadeIn fourth" value="Iniciar sesion">
    
    </form>
    

      <p>O inicia sesion con: </p>
     <div class="col-md-12 text-center">
      
      <!-- BOTON SANTOR
        
        <button
        (click)="login()"
         class="btn btn-success">Inicio de sesión con Google</button> -->

         <a class="boton"> 
           <img  (click)="login()" src="assets/icon-google.png"   /></a>
        
        <ul></ul>
    </div>
    
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">¿Olvidaste tu contraseña?</a>
    </div>

  </div>
</div>

