<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container">
      <a class="navbar-brand" routerLink='/'>
        <img src="assets/pikme.png" width="100" height="30" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink='/shopping-cart'>
              Carrito
              <span class="badge badge-pill badge-light " *ngIf="cart$ | async as cart">
             {{ cart.totalItemsCount }}  <i class="fas fa-shopping-cart"></i> 
              </span>
            </a>
          </li>
        </ul>
      <ul class="navbar-nav ">
          <ng-template #anonymousUser>
            <li class="nav-item">
              <a class="nav-link" routerLink='/login'><i class="fas fa-sign-in-alt"></i>

Inicio de sesión</a>
            </li>
          </ng-template>
          <li  *ngIf="appUser; else anonymousUser" class="nav-item dropdown" style="color: white;">
         <a  class="nav-link dropdown-toggle " id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user" style="color: white;" ></i>     {{ appUser.name }}
         </a>
         <div  class="dropdown-menu" aria-labelledby="dropdown01">
             <a class="dropdown-item" routerLink="/my/orders">Mis ordenes</a>
             <a class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt"></i>

Cerrar sesión</a>


         </div>
     </li>
          </ul>
      </div>
  </div>
</nav>
